.tweets.list-group.twitter
  - @tweets.each do |tweet|
    .list-group-item
      %strong
        = tweet.user.name
      = " @" + tweet.user.screen_name + " - " + tweet.created_at.strftime("%d %b %Y, %H:%M")
      %br
      = tweet.text
