%h1 SE23 Local Guide
= link_to 'Add an account', accounts_url
.tweets
  - @tweets.each do |tweet|
    = tweet.user.name + " | @" + tweet.user.screen_name + " | " + tweet.created_at.strftime("%d/%m/%y @ %H:%M")
    %br
    = tweet.text
    %p
