# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 58da53a41d85e2c4f1bd9c8376b4bf8a2065afeb5b59515e81e4a840dcf16178be98a2d3428fd37ddff2f70b5b243f0a9ffd2d30b7719f46b5029a4c953ca3d4

test:
  secret_key_base: 9111cc4340f71bc399885dec87b5c0670714e60212c68f4287149ffe6449ca6c9b6b4971ef76b4ca2bc12e3d867645a61b71133d516a5d05b22312742a5d818f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
